<div id="search-page">
  {{#if groupedEvents}}
      <h1>{{t 'searchPage.results'}}</h1>
    {{# each groupedEvents as |group|}}
        <h3>{{group.dateString}}</h3>
        <div class="event-list">
          {{#each group.events as |event|}}
            {{event-card event=event onOpenDetail=(action 'goToDetails')}}
          {{/each}}
            <div class="clear"></div>
        </div>
    {{/each}}
  {{else}}
      <h3>
          <center>{{t 'searchPage.empty'}}</center>
      </h3>
  {{/if}}
</div>
