$primary: "teal";
$accent: "indigo";
$warn: "pink";

@import 'ember-paper';

body {
  overflow-y: hidden;;
}

.clear {
  clear: both;
}

#main-toolbar {
  .paper-icon {
    color: #fff;
    margin-right: 15px;
  }

  h2, input {
    color: #fff;
  }
  #search-block {
    padding-bottom: 0;

    input {
      $defaultColor: rgba(255, 255, 255, .4);
      $activeColor: rgba(255, 255, 255, 1);
      border-color: $defaultColor;
      transition: all .25s;

      &::-webkit-input-placeholder {
        color: $defaultColor;
      }
      &::-moz-placeholder {
        color: $defaultColor;
      }
      &:-moz-placeholder {
        color: $defaultColor;
      }
      &:-ms-input-placeholder {
        color: $defaultColor;
      }

      &:focus {
        border-color: $activeColor;
        border-width: 0 0 1px 0;
        padding-bottom: 1px;

        &::-webkit-input-placeholder {
          color: $activeColor;
        }
        &::-moz-placeholder {
          color: $activeColor;
        }
        &:-moz-placeholder {
          color: $activeColor;
        }
        &:-ms-input-placeholder {
          color: $activeColor;
        }
      }
    }
  }
}

#content-wrapper {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

#event-detail {
  max-width: 800px;
  margin: 20px auto;
}

#search-page {
  padding: 20px;
}

// Weater Card component
.weather-card {
  .weather-icon {
    font-size: 68px;
    padding: 20px;
    color: #924da3;
  }
}

#new-event-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

// events page
#event-card-list {
  .events-list-header {
    padding: 10px 20px;

    .category-filter {
      .label {
        float: left;
        padding-top: 12px;
      }
      .categories {
        padding-left: 130px;
      }
    }
  }
}

#new-event-form-content {
  width: 400px;
}

.event-list .event-card {
  width: 25%;
  float: left;

  @media (min-width: 961px) and (max-width: 1280px) {
    & {
      width: 33.33%;
    }
  }

  @media (min-width: 601px) and (max-width: 960px) {
    & {
      width: 50%;
    }
  }

  @media (max-width: 600px) {
    & {
      width: 100%;
    }
  }

  .title {
    white-space: nowrap;

    &, & > span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .content {
    position: relative;
    height: 80px;
    overflow: hidden;
  }
}
