{{#paper-card id="event-detail" as |card|}}
  {{card.image src=model.imageUrl alt=model.title title=model.title}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}<span style="color: {{model.category.color}};">{{model.title}}</span>{{/text.headline}}
      {{#text.subhead}}
          <div class="layout-row">
            {{model.category.title}}
              <span class="flex"></span>
            {{model.dateString}}
          </div>
      {{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
      <p>
        {{model.description}}
      </p>
      {{weather-card title=(t 'event.weather') date=model.date}}
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(action "goBack")}}{{t 'event.back'}}{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
