{{#paper-toolbar id="main-toolbar"}}
  {{#paper-toolbar-tools}}
      <span>{{paper-icon "today" size=32}}</span>
      <h2>Travel Events</h2>
      <span class="flex"></span>
      {{paper-input id="search-block" placeholder=(t "search") type="text" value=searchQuery onChange=(action (mut searchQuery)) iconRight="search" hideAllMessages=true}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div id="content-wrapper">
  {{outlet}}
</div>
