{{#paper-button accent=true raised=true fab=true id="new-event-button" onClick=(action "openEventForm")}}
  {{paper-icon "add"}}
{{/paper-button}}

{{#if showEventForm}}
  {{#paper-dialog onClose=(action "closeEventForm" "cancel") origin="#new-event-button" isLockedOpen=true parent=false clickOutsideToClose=true}}
    {{#paper-form as |form|}}
      {{#paper-toolbar}}
          <div class="md-toolbar-tools">
              <h2>{{t 'eventForm.title'}}</h2>
              <span class="flex"></span>
            {{#paper-button iconButton=true onClick=(action "closeEventForm" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
          </div>
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
          <div layout="column" id="new-event-form-content">
            {{form.input required=true flex=true label=(t 'eventForm.labels.title') value=newEventTitle onChange=(action (mut newEventTitle))}}
            {{form.input required=true textarea=true block=true label=(t 'eventForm.labels.description') maxlength=250 passThru=(hash rows=5) value=newEventDescription onChange=(action (mut newEventDescription))}}
            {{#paper-select required=true placeholder=(t 'eventForm.labels.category') flex=true value=newEventCategory.title onChange=(action (mut newEventCategory))}}
              {{#each categories as |cat|}}
                {{#paper-option value=cat}}
                  {{cat.title}}
                {{/paper-option}}
              {{/each}}
            {{/paper-select}}
            {{form.input required=true flex=true label=(t 'eventForm.labels.imageUrl') value=newEventImageUrl onChange=(action (mut newEventImageUrl))}}
          </div>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
          <span class="flex"></span>
          {{#paper-button onClick=(action "closeEventForm" "cancel")}}{{t 'cancel'}}{{/paper-button}}
          {{#paper-button disabled=form.isInvalid onClick=(action "closeEventForm" "ok")}}{{t 'ok'}}{{/paper-button}}
      {{/paper-dialog-actions}}
    {{/paper-form}}
  {{/paper-dialog}}
{{/if}}

{{weather-card}}

<div id="event-card-list">
    <div class="events-list-header">
        <h2>{{t 'events.title'}}</h2>
        <div class="category-filter">
            <div class="label">{{t 'events.categoryFilter'}}:</div>
            <div class="categories">
              {{#each categories as |item|}}
                {{#paper-button noink=true accent=(eq currentCategory item) onClick=(action "onFilter" item)}}{{item.title}}{{/paper-button}}
              {{/each}}
              {{#if currentCategory}}
                {{#paper-button noink=true primary=true onClick=(action "onFilter" null)}}All{{/paper-button}}
              {{/if}}
            </div>
        </div>
    </div>

    <div class="event-list">
      {{#each model as |event|}}
        {{event-card event=event onOpenDetail=(action 'goToDetails')}}
      {{/each}}
        <div class="clear"></div>
    </div>
</div>
