{{#paper-card as |card|}}
  {{card.image src=event.imageUrl alt=event.title title=event.title}}
  {{#card.title as |title|}}
    {{#title.text class="title" as |text|}}
      {{#text.headline style="color: {{event.category.color}};"}}{{event.title}}{{/text.headline}}
      {{#text.subhead}}{{t 'components.eventCard.date'}}: {{ event.dateString }}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content class="content"}}{{event.shortDescription}}{{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(action 'goToDetails' event)}}{{t 'components.eventCard.moreButton'}}{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}