<div class="weather-card">
  {{#paper-card as |card|}}
    {{#card.title as |cardTitle|}}
      {{#cardTitle.text as |text|}}
        {{#text.headline}}{{#if title}}{{title}}{{else}}{{t 'components.weatherCard.title'}}{{/if}}: {{data.summary}}{{/text.headline}}
        {{#text.subhead}}{{t 'components.weatherCard.temperature'}}: {{celsius}}&deg;C{{/text.subhead}}
      {{/cardTitle.text}}
      {{#cardTitle.media}}
          <div class="card-media">{{weather-icon name=icon class="weather-icon"}}</div>
      {{/cardTitle.media}}
    {{/card.title}}
  {{/paper-card}}
</div>
